body {
  text-align: center;
  padding-top: 6em;
}
.center {
  width: 70%;
  margin: 0 auto;
}
#header {
	width: 100%;
  display: block;
  clear: both;
  text-align: left;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
}
#title {
  margin: 1em 0;
  float: left;
  display: block;
  clear: none;
  width: 40%;
  box-sizing: border-box;
}
#logo {
  float: left;
  width: 25%;
  min-width: 6em;
  height: 5em;
}
h1, h2 {
  font-size: 0.8em;
  margin: 0;
}
h1 {
  padding: 1.9em 0 0;
}
h2 {
  font-weight: normal;
}
#about {
  float: right;
  text-align: right;
  clear: none;
  margin: 1em 0;
  width: 20%;
  box-sizing: border-box;
}
.sample {
  display: block;
  width: 100%;
  clear: both;
  text-align: left;
}
.sample iframe {
	width: 100%;
	height: 700px;
	margin: 0 0 2em 0;
	border: none;
}