body {
  text-align: center;
  background: #eeeeee;
  color: #424143;
  font-size: 0.85em;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  min-width: 510px;
}
a {
  color: #424143;
  text-decoration: none;
}
a:hover {
  color: #ccc;
}
.center {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
#header {
	width: 100%;
  display: block;
  clear: both;
  text-align: left;
  background: white;
  line-height: 1.2em;
}
#title {
  margin: 1em 0;
  float: left;
  display: block;
  clear: none;
  width: 60%;
  box-sizing: border-box;
}
#logo {
  float: left;
  width: 7em;
  height: 6em;
}
h1, h2 {
  font-size: 1em;
  margin: 0;
}
h1 {
  padding: 1.7em 0 0;
  font-weight: 700;
}
h2 {
  font-weight: 300;
}
#about {
  float: right;
  text-align: right;
  clear: none;
  margin: 2.7em 1.5em 2.7em 0;
  width: 20%;
  box-sizing: border-box;
}
#about a {
  float: right;
  clear: both;
  font-size: 1em;
}
.bg {
  display: block;
  clear: both;
}
.bg.odd {
  background: url(../svg/bg_odd.svg) no-repeat center -50;
  background-size: cover;
}
.bg.even {
  background: url(../svg/bg_even.svg) no-repeat center -35;
  background-size: cover;
}
.sample {
  display: block;
  clear: both;
  text-align: center;
  position: relative;
  margin-bottom: 7%;
}
.sample iframe {
	width: 91.8%;
	height: 515px;
	margin: 4% auto 14%;
	border: none;
	position: relative;
	z-index: 2;
}
.sample.mobile iframe {
  width: 71.4%;
  margin: 3.6% auto 4.5%;
}
.sample .bg {
  position: absolute;
  top: 0;
  left: 0;
	z-index: 1;
}
.sample.mobile {
  
}
.sample.desktop {
  
}
h1.title {
  text-align: left;
  padding-left: 1.5em;
}
p.description {
  text-align: left;
  margin: 0 0;
  padding: 0.5em 0 1em 1.5em;
}